<div class="row" style="margin: 10rem">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-dark">
        <a class="card-title" style="font-size: 20px; color: white">IQ Fulfillment</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Task Management System</h5>
        <p class="card-text">It is a Simple Task Management System POC Application to Manage & View User Specific Tasks</p>
        <a href="#" class="btn btn-dark">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
