<div class="row p-5">
  <div class="col-12">
    <form>
      <div class="form-group form-inline" style="float: left">
        Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
      </div>
      <div class="form-group form-inline" style="float: right">
        <button type="button" class="btn btn-outline-dark" (click)="onRouteAdd()">
          <i class="fa fa-plus"></i> Add User
        </button>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="table-header">
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
          <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
          <th scope="col" sortable="userName" (sort)="onSort($event)">User Name</th>
          <th scope="col" sortable="roleLevel" (sort)="onSort($event)">Role Level</th>
          <th scope="col" sortable="noOfTasks" (sort)="onSort($event)">No of Tasks</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users$ | async">
          <th scope="row">{{ user.id }}</th>
          <td><ngb-highlight [result]="user.name" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.email" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.userName" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.roleLevel" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.noOfTasks | number" [term]="service.searchTerm"></ngb-highlight></td>
          <td>
            <i class="fa fa-edit" style="color: #5c9cef"></i> | <i class="fa fa-trash" style="color: #f16a6a"></i>
          </td>
<!--          <th scope="row">-->
<!--            <i class="fa fa-edit"></i> | <i class="fa fa-trash"></i>-->
<!--          </th>-->
        </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
        <ngb-pagination
          [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
      </div>
    </form>
  </div>
</div>
